
.panel.date {
    margin: 0px;
    width: 35px;
    text-align: center;
    font-size: 1em;
}

.panel.date .month {
    padding: 1px 0px;
    font-weight: 200;
    text-transform: uppercase;
}

.imageTest{ 
    background-image:url("https://static01.nyt.com/images/2017/12/12/opinion/contributors/12hayek-bg/12hayek-bg-superJumbo-v3.jpg");
    width:300px;
    height:300px;
    background-repeat:no-repeat;
    /* background-size:cover; */
    background-size: contain;

}

.panel.date .day {
    padding: 1px 0px;
    font-weight: 200;
    font-size: 1em;
}

.panel {
    font-size: .75em;
    /* padding: 1px 0px; */
}

.media{
    border: double #2a008e;
    background-color: white;
    border-radius: 10px;

}

.dateBlock {
    padding-top: 5px;
    padding-left: 5px;
}

li h4 {
    color: #2a008e;
    padding-top: 5px;
    font-family: Optima, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Verdana, Helvetica, Arial, sans-serif;

}

li p {
    font-family: Optima, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Verdana, Helvetica, Arial, sans-serif;
    color: #00c7ff;
    text-align: right;
    padding: 5px;
    /* text-shadow: 3px 3px 4px #000000; */
}

.dateNum {
    color: black;
    text-align: center;
    padding-top: 5px;
}   


body{
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100%;
}

.panel-heading {
    background-color: #2a008e;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* border-radius: 10px; */

}

.panel-panel-danger {
    border: #2a008e groove;     
    border-radius: 7px;
    
}

body h1 {
    text-align: center;
    font-family: Futura, Impact, Helvetica, Arial, sans-serif;
    color: #00c7ff;
    /* text-shadow: #2a008e 2px; */
    text-shadow: 3px 3px 4px #2a008e;
    font-size: 36pt;
}

#subtitle {
    font-family: Optima, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Verdana, Helvetica, Arial, sans-serif;
    color: #00efeb;
    text-align: center;
    text-shadow: 3px 3px 4px #000000;

}

body h5 {
    color: #00c7ff;
    text-shadow: 3px 3px 4px #000000;
    text-align: center;
    font-size: 16pt;
}

#eventContainer {
    /* border: double;
    display: flex;
    float: right;
    width: 500px;
    width: wrap; */
}

.container {
    border: double;
    /* width:  */
    /* width: wrap;
    height: wrap; */
    display: flex;
    float: right;
    padding: 1px;
}
